#score{
  font-family: Oswald;
  color:#39b54a;
  font-size:40pt;
}

#logodiv{
  float:left;
}

#logodiv img {
  padding-top:10px;
  height:30px;
}
#navbarlinks{
  list-style-type:none;
  margin:0;
  padding:0;
  float:right;
  padding-right:100px;
}

#navbar{
  padding-bottom:50px;
  border-bottom:thin dotted #b3b3b3;
  margin-bottom:35px;
  margin-left:20px;
  margin-right:20px;
}


#address:focus{
   border-color:#39b54a;
   outline:none;
}

#address{
  width:40%;
  height:30px;
  border-color:#cccccc;
  font-size:9pt;
  margin-right:17px;
  margin-bottom:45px;
}

#report{
  padding-left:20px;
  padding-right:20px;
  margin:auto;
  width:30%;
  height:300px;
  float:left;
}

#report_header{
  border-bottom:thin dotted #b3b3b3;
  border-top:thin dotted #b3b3b3;
  margin-bottom: 10px;
  padding-left:5px;
  padding-right:5px;
  padding-top: 5px;
  float:left;
  width:100%;
}

#details{
  float:left;
  width:60%;
  font-size:9pt;
  margin-bottom: 10px;
}

#centerpiece{
  width:900px;
  margin:auto;
}

#content{
  font-size:14px;
  padding-left:10px;
}

#streetaddr{
    font-size:12pt;
    float:left;
    margin-top:55px;
	margin-bottom:5px;
}

#scorebox{
  float:right;
  width:90px;
  height:90px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin solid #b3b3b3;
  text-align:center;
  font-size:9pt;
  color:#b3b3b3;
}

#map{
  margin-left:20px;
  margin:auto;
  float:left;  
  width:65%;
}

#bottomcenterpiece{
  width:900px;
  margin:auto;
}

#gradingscale img {
  height:100px;
}

#gradingscale span {
  color:#4D4D4D;
  font-family:'Oswald', sans-serif;
  font-size:30px;
}

#gradingscale p {
  color:#4D4D4D;
  font-family:Arial, sans-serif;
  font-size:11px;
}

#gradingscale th {
  font-size:9pt;
  font-weight:normal;
  text-align:left;

}

#gradingscale td {
  padding-top:5px;
  padding-bottom:5px;
  border-top: 1px solid #cccccc;
}

#gradingscale {
  background-color:#F2F2F2;
  padding-left:5px;
  padding-right:5px;
  margin:auto;
  width:32%;
  float:left;
  margin-bottom:100px;

}

#submit{
  vertical-align:-7px;
  
}

#form{
    text-align:center;
}

#logo{
  height:40px;
}

#footer{
	z-index:-1;
	background-image:url("images/bottom_city.png");
	float:bottom;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:71px;
}

body{
  font-family:arial;
}

a{
  margin-right:20px;
  text-decoration:none;
  color:#39b54a;
  font-size:11pt;
}

li{
  display:inline;
}

h1{
  color:#39b54a;
}